<%= stylesheet_link_tag "at_new", :media => "all" %>
<div class="main">
    <div class="icon" id="icon_c">
        <% @user.each do |i| %>
            <%= image_tag i.image_url,class: "icon_image", size: "50x50" if i.image? %>
            <div class="icon_modal">
                <%= image_tag i.image_url,class: "icon_image_mo", size: "100x100" if i.image? %>
                <span class="icon_dis icon_name"><%= i.name %></span>
                <br><span class="icon_dis icon_mail"><%= i.email %></span>
                <br><%= link_to "マイページ", user_path(current_user.id),class:"modal_show modal_show1", data: {"turbolinks" => false} %>
                <%= link_to "プロフィール編集", edit_user_registration_path , class: 'modal_show modal_show2', data: {"turbolinks" => false} %>
            </div>
        <% end %>
    </div>
  <div class="artist_edit">
    <%= form_for @artist do |f| %>
        <div class="new_title">
            <h2>編集ページ</h2>
        </div>
        <div class="new_field">
            <ul>
                <div class="new_detail">
                    <li><%= f.label :アーティスト名 %></li>
                </div>
                    <li><%= f.text_field :at_name, :size => 50 , class: 'new_text' %></li>
                <div class="new_detail">
                    <li><%= f.label :おすすめ一曲 %></li>
                </div>
                    <li><%= f.text_field :recommend, :size => 50, class: 'new_text' %></li>
                <div class="new_detail">
                    <li><%= f.label :説明 %></li>
                </div>
                    <li><%= f.text_area :more, :size => "50*50" , class: 'new_text'%></li>
                <div class="new_detail">
                    <li><%= f.label :その他おすすめのアーティスト, class: 'new_text' %></li>
                </div>
                    <li><%= f.text_field :other, :size => 50, class: 'new_text' %></li>
                <div class="new_detail">
                    <li><%= f.label :画像変更 %></li>
                </div>
                    <li><%= f.file_field :image %></li>
            </ul>
            <%= f.submit "編集" , class: 'submit-btn' %>
        </div> 
    <% end %>
        <div class="bt-area">
            <%= link_to "アーティスト一覧に戻る", artists_path, data: {"turbolinks" => false} %>
        </div>
  </div>
</div>

      
