<%= stylesheet_link_tag "at_index", :media => "all" %>
<div class="main">
  <div class="icon" id="icon_c">
    <% @user.each do |i| %>
      <%= image_tag i.image_url,class: "icon_image", size: "50x50" if i.image? %>
      <div class="icon_modal">
        <%= link_to user_path(current_user.id),data: {"turbolinks" => false}, method: :get do %>
          <%= image_tag i.image_url,class: "icon_image_mo", size: "100x100" if i.image? %>
        <% end %>
        <span class="icon_dis icon_name"><%= i.name %></span>
        <br><span class="icon_dis icon_mail"><%= i.email %></span>
        <br><%= link_to "マイページ", user_path(current_user.id),class:"modal_show modal_show1", data: {"turbolinks" => false} %>
        <%= link_to "プロフィール編集", edit_user_registration_path , class: 'modal_show modal_show2' , data: {"turbolinks" => false} %>
      </div>
    <% end %>
  </div>
  <div class="main-container">
    <div class="at_header">
      <h1><i class="fas fa-headphones fa-xs"></i>Artist List<i class="fas fa-headphones fa-xs"></i></h1>
    </div>
    <div class="content">
        <div class="search_header">
            <h3>SEARCH</h3>
        </div>
        <div class="search_content">
          <%= form_tag({controller:"artists",action:"index"}, method: :get) do %>
              <span class="search_ge">genre　</span>
             <%= select_tag "genre", options_for_select([["All", ""],["ポップス", "ポップス"],["ロック","ロック"],["ヒップホップ", "ヒップホップ"],["ジャズ","ジャズ"],["レゲエ", "レゲエ"],["クラシック","クラシック"],["ブルース", "ブルース"],["EDM","EDM"],["エレクトロニカ", "エレクトロニカ"],["ファンク","ファンク"],["メタル", "メタル"],["フォーク","フォーク"],["インスト", "インスト"],["R&B","R&B"],["その他","その他"]]),class:"search_genre" %>
                <br><span class="search_ge">洋or邦　</span>
                <%= select_tag "or", options_for_select([["All", ""],["邦楽", "邦楽"],["洋楽","洋楽"]]) %>
                <br><%= text_field_tag :search ,"",{class:'search_field',value: params[:search] } %>
                <%= button_tag type:"submit" ,class: 'search-btn' do %>
                  <i class="fas fa-search"></i>
                <% end %>
            <% end %>
        </div>
      <div class="artists-container">
        <% @artists.each do |t| %>
          <div class="artists post_updown" id="destroy_artist<%= t.id %>">
            <div class="allimages butoon mouse">
              <%= link_to artist_path(t.id), method: :get do %>
                <div class="def">
                <i class=" abc">
                  <span class="outborder"><%= image_tag t.image_url,class: "images", size: "270x270" if t.image? %></span>
                </i>
                </div>
              <% end %>
            </div>
            <i id="likes_buttons<%= t.id %>">
              <%= render partial: 'likes/like', locals: { tt: t} %>
            </i>
              <%= link_to t.at_name, artist_path(t.id),class:"at_edit" %>
              <% if user_signed_in? && current_user.id == t.user_id %>
                <br><%= link_to "編集", edit_artist_path(t.id) ,class:"at_edit1" %>
                <a half=# class="delete_button" id="delete_button1<%= t.id %>">削除</a>
                <div class="modal1">
                  <div class="modal_content">
                    <span class="modal_title">投稿を削除</span>
                    <span class="modal_dis">本当にこの投稿を削除してもよろしいですか？</span>
                    <i id="delete_buttons<%= t.id %>">
                      <%= render partial: 'artists/destroy', locals: { tt: t} %>
                    </i>
                  </div>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
