<%= stylesheet_link_tag "at_new", :media => "all" %>
<div class="main">
  <div class="icon" id="icon_c">
    <% @user.each do |i| %>
      <%= image_tag i.image_url,class: "icon_image", size: "50x50" if i.image? %>
      <div class="icon_modal">
        <%= link_to user_path(current_user.id),data: {"turbolinks" => false}, method: :get do %>
          <%= image_tag i.image_url,class: "icon_image_mo", size: "100x100" if i.image? %>
        <% end %>
        <span class="icon_dis icon_name"><%= i.name %></span>
        <br><span class="icon_dis icon_mail"><%= i.email %></span>
        <br><%= link_to "マイページ", user_path(current_user.id),class:"modal_show modal_show1", data: {"turbolinks" => false} %>
        <%= link_to "プロフィール編集", edit_user_registration_path , class: 'modal_show modal_show2', data: {"turbolinks" => false} %>
      </div>
    <% end %>
  </div>
  <div class="artist_new user_content">
    <div class="new_title">
      <div class="CHECK3">
        <h1><span>P</span>
        <span>O</span>
        <span>S</span>
        <span>T</span></h1>
      </div>
    </div>
    <%= form_for @artist do |f| %>
      <div class="new_field">
      <ul>
        <div class="new_detail">
          <li><%= f.label :アーティスト名 %></li>
        </div>
          <li><%= f.text_field :at_name, :size => 50 , class: 'new_text' %></li>
          <div class="new_detail">
            <li><%= f.label :ジャンル %></li>
          </div>
          <li><%= f.select :genre, [["ポップス", "ポップス"], 
          ["ロック", "ロック"], 
          ["ヒップホップ", "ヒップホップ"],
          ["ジャズ","ジャズ"],
          ["レゲエ", "レゲエ"], 
          ["クラシック", "クラシック"],
          ["ブルース","ブルース"],
          ["EDM","EDM"],
          ["エレクトロニカ","エレクトロニカ"],
          ["ファンク","ファンク"],
          ["メタル","メタル"],
          ["フォーク","フォーク"],
          ["インスト","インスト"],
          ["R&B","R&B"],
          ["その他","その他"]],include_blank: "選択して下さい", class: 'new_text' %></li>
          <div class="new_detail">
            <li><%= f.label :邦楽or洋楽 %></li>
          </div>
            <li><%= f.select :or, [["邦楽","邦楽"],
          ["洋楽","洋楽"]],include_blank: "選択して下さい" %></li>
          <div class="new_detail">
            <li><%= f.label :おすすめ一曲 %></li>
          </div>
            <li><%= f.text_field :recommend, :size => 50, class: 'new_text' %></li>
          <div class="new_detail">
            <li><%= f.label :説明 %></li>
          </div>
            <li><%= f.text_area :more, :size => "50*50" , class: 'new_text'%></li>
          <div class="new_detail">
            <li><%= f.label :その他おすすめのアーティスト %></li>
          </div>
            <li><%= f.text_field :other, :size => 50, class: 'new_text' %></li>
          <div class="new_detail">
            <li><%= f.label :画像 %></li>
            <label>
            <div class="post_preview" id="POST_PREVIEW"></div>
            <li><%= f.file_field :image , class: 'new_text img_post', id:"post_pre" %></li>
          </div>
      </ul>
        <%= f.submit "投稿する" , class: 'submit-btn' %>
    <% end %>
    </div>
    <div class="bt-area">
      <%= link_to "アーティスト一覧に戻る", artists_path, data: {"turbolinks" => false} %>
    </div>
  </div>
  <p class="at_start at_start_post">POST</p>
</div>
